<h1>Log In Below:</h1>

<form method="post" action="/sessions">




    <label for="email">Email:</label>
    <input id="email" type="text" name="email">

    <label for="password">Password:</label>
    <input id="password" type="text" name="password">

    <label for="login">Log In</label>
    <input id="login" type="submit" name="login" />

  </form>
